<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZSRunTime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C22B8D861C964C8500A4EBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C22B8D9F1C964C8600A4EBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C22B8DAA1C964C8600A4EBD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
